<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filters.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/Categories.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>RetrieveProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetrieveProductsServlet</servlet-name>
        <servlet-class>RetrieveProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUserServlet</servlet-name>
        <servlet-class>CheckUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VieProductServlet</servlet-name>
        <servlet-class>ViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <servlet-class>ViewCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShoppingCartServlet</servlet-name>
        <servlet-class>ViewShoppingCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>ManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductCategoryServlet</servlet-name>
        <servlet-class>GetProductCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetrieveProductsServlet</servlet-name>
        <url-pattern>/RetrieveProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUserServlet</servlet-name>
        <url-pattern>/CheckUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VieProductServlet</servlet-name>
        <url-pattern>/VieProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <url-pattern>/ViewCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShoppingCartServlet</servlet-name>
        <url-pattern>/ViewShoppingCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/ManageUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductCategoryServlet</servlet-name>
        <url-pattern>/GetProductCategoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
